<a class="navbar-brand" href="/"><img src="images/tros.svg" style="height: 30px;" alt="tros.org" /></a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="homeDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Projects
      </a>

      <div class="dropdown-menu" aria-labelledby="homeDropDown">
        <a href="https://bitbucket.org/trosorg/torgo/src/master/" class="dropdown-item">Torgo</a>
        <a href="https://bitbucket.org/trosorg/torgo-javascript/src/master/" class="dropdown-item">Torgo JavaScript</a>
        <a href="https://bitbucket.org/trosorg/l2fprod-properties-editor/src/master/" class="dropdown-item">l2fprod-properties-editor</a>
        <a href="https://github.com/ZenHarbinger/grails-jasypt" class="dropdown-item">grails-jasypt</a>
      </div>
    </li>
  </ul>
</div>


<ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
  <li class="dropdown">
    <a class="nav-item nav-link dropdown-toggle mr-md-2" href="#" id="profileDropDown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      About
    </a>

    <div class="dropdown-menu" aria-labelledby="profileDropDown">
      <a href="resume.html" class="dropdown-item">Resume</a>
      <a href="about.html" class="dropdown-item">About</a>
    </div>
  </li>

  <!-- <li>
              <form action="${createLink(controller: 'logout')}">
                  <button class="btn btn-outline-light" type="submit">Logout</button>
              </form>
          </li> -->
</ul>
